.home{
	padding-top: 5rem;
}

.homeContent{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
}

.homePicture img{
	width: 280px;
	height: auto;
	border-radius: 50%;
	border: 6px solid #5B53E1;
}

.homeText h1{
	text-transform: uppercase;
	font-size: 3.6em;
}

.homeTextColor{
	color: #5B53E1;
}

.homeText p{
	color: rgba(255, 255, 225, 0.5);
	font-weight: 400;
	margin-top: 1rem;
	font-size: 1em;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.spotifyListening a{
	padding: 0.5rem 1.5rem;
	border-radius: 8px;
	background-color: #1DB954;
	font-weight: 500;
}